/* Nav bar css */
.navbar {
    background-color: #5B64AE !important;
}
.nav-link {
    color: #ffffff !important;
}


/*Footer css*/
footer {
    background-color: #5B64AE !important;
}
.text-dark {
    color: #ffffff !important; 
}
.text-uppercase {
    color: #ffffff;
}

/*Card css*/
.card{
    padding: 5%;
    margin: 15px;
    background-color: #F27405;
}

/*button*/
.btn {
    background-color: #F27405;
    color: black;
    border-color: #F27405;
}
.btn:hover {
    background-color: #5B64AE;
    border-color: #5B64AE;
    color: #ffffff;
}


/*profile css*/
.your_contractor {
    padding-left: 10rem !important;
}
.contractor_img {
    width: 140px;
    height: 123px;
    margin-left: 11rem !important;
}
.card-profile {
    background-color: #ffffff;
}