/* Nav bar css */
.navbar {
    background-color: #5B64AE !important;
}
.nav-link {
    color: #ffffff !important;
}


/*Footer css*/
footer {
    background-color: #5B64AE !important;
}
.text-dark {
    color: #ffffff !important; 
}

/*Card css*/
.card{
    padding: 5%;
    margin: 15px;
    background-color: #F27405;
}

/*button*/
.btn {
    background-color: #F27405;
    color: black;
    border-color: #F27405;
    /*--bs-btn-hover-bg: #5b64ae;
    --bs-btn-hover-border-color: #5b64ae;*/
}

